<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>AAI</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>aaigond@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>lcrmsmsadqjtvabd</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OfficeRegistrationServlet</display-name>
    <servlet-name>OfficeRegistrationServlet</servlet-name>
    <servlet-class>officeRegistration.OfficeRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficeRegistrationServlet</servlet-name>
    <url-pattern>/OfficeRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpRegisterServlet</display-name>
    <servlet-name>EmpRegisterServlet</servlet-name>
    <servlet-class>employeeRegistration.EmpRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpRegisterServlet</servlet-name>
    <url-pattern>/EmpRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLoginServlet</display-name>
    <servlet-name>EmpLoginServlet</servlet-name>
    <servlet-class>empLogin.EmpLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLoginServlet</servlet-name>
    <url-pattern>/EmpLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GentsUniformServlet</display-name>
    <servlet-name>GentsUniformServlet</servlet-name>
    <servlet-class>gentsUniform.GentsUniformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GentsUniformServlet</servlet-name>
    <url-pattern>/GentsUniformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GentsUniformPdfServlet</display-name>
    <servlet-name>GentsUniformPdfServlet</servlet-name>
    <servlet-class>gentsUniform.GentsUniformPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GentsUniformPdfServlet</servlet-name>
    <url-pattern>/GentsUniformPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGentsUniformServlet</display-name>
    <servlet-name>UpdateGentsUniformServlet</servlet-name>
    <servlet-class>gentsUniform.UpdateGentsUniformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGentsUniformServlet</servlet-name>
    <url-pattern>/UpdateGentsUniformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LadiesUniformServlet</display-name>
    <servlet-name>LadiesUniformServlet</servlet-name>
    <servlet-class>ladiesUniform.LadiesUniformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LadiesUniformServlet</servlet-name>
    <url-pattern>/LadiesUniformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LadiesUniformPdfServlet1</display-name>
    <servlet-name>LadiesUniformPdfServlet1</servlet-name>
    <servlet-class>ladiesUniform.LadiesUniformPdfServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LadiesUniformPdfServlet1</servlet-name>
    <url-pattern>/LadiesUniformPdfServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailAttachServlet</display-name>
    <servlet-name>SendMailAttachServlet</servlet-name>
    <servlet-class>eMail.SendMailAttachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailAttachServlet</servlet-name>
    <url-pattern>/SendMailAttachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SenderReceiverServlet</display-name>
    <servlet-name>SenderReceiverServlet</servlet-name>
    <servlet-class>sendReceive.SenderReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SenderReceiverServlet</servlet-name>
    <url-pattern>/SenderReceiverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationOtherAirport1Servlet</display-name>
    <servlet-name>LocationOtherAirport1Servlet</servlet-name>
    <servlet-class>otherAirportLocation.LocationOtherAirport1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationOtherAirport1Servlet</servlet-name>
    <url-pattern>/LocationOtherAirport1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLadiesUniformServlet</display-name>
    <servlet-name>UpdateLadiesUniformServlet</servlet-name>
    <servlet-class>ladiesUniform.UpdateLadiesUniformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLadiesUniformServlet</servlet-name>
    <url-pattern>/UpdateLadiesUniformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfficeRegiLogServlet</display-name>
    <servlet-name>OfficeRegiLogServlet</servlet-name>
    <servlet-class>officeRegisLogin.OfficeRegiLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficeRegiLogServlet</servlet-name>
    <url-pattern>/OfficeRegiLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptOtherAirport1Servlet</display-name>
    <servlet-name>ReceiptOtherAirport1Servlet</servlet-name>
    <servlet-class>receiptOtherAirport.ReceiptOtherAirport1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptOtherAirport1Servlet</servlet-name>
    <url-pattern>/ReceiptOtherAirport1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptOtherAirport2Servlet</display-name>
    <servlet-name>ReceiptOtherAirport2Servlet</servlet-name>
    <servlet-class>receiptOtherAirport.ReceiptOtherAirport2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptOtherAirport2Servlet</servlet-name>
    <url-pattern>/ReceiptOtherAirport2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptOtherAirportPdfServlet</display-name>
    <servlet-name>ReceiptOtherAirportPdfServlet</servlet-name>
    <servlet-class>receiptOtherAirport.ReceiptOtherAirportPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptOtherAirportPdfServlet</servlet-name>
    <url-pattern>/ReceiptOtherAirportPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReceiptVoucherServlet</display-name>
    <servlet-name>UpdateReceiptVoucherServlet</servlet-name>
    <servlet-class>receiptOtherAirport.UpdateReceiptVoucherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReceiptVoucherServlet</servlet-name>
    <url-pattern>/UpdateReceiptVoucherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackingVoucher1Servlet</display-name>
    <servlet-name>PackingVoucher1Servlet</servlet-name>
    <servlet-class>packingVoucher.PackingVoucher1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackingVoucher1Servlet</servlet-name>
    <url-pattern>/PackingVoucher1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackingVoucher2Servlet</display-name>
    <servlet-name>PackingVoucher2Servlet</servlet-name>
    <servlet-class>packingVoucher.PackingVoucher2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackingVoucher2Servlet</servlet-name>
    <url-pattern>/PackingVoucher2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PackingVoucherPdfServlet</display-name>
    <servlet-name>PackingVoucherPdfServlet</servlet-name>
    <servlet-class>packingVoucher.PackingVoucherPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackingVoucherPdfServlet</servlet-name>
    <url-pattern>/PackingVoucherPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackingVoucherServlet</display-name>
    <servlet-name>UpdatePackingVoucherServlet</servlet-name>
    <servlet-class>packingVoucher.UpdatePackingVoucherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackingVoucherServlet</servlet-name>
    <url-pattern>/UpdatePackingVoucherServlet</url-pattern>
  </servlet-mapping>
</web-app>